body{
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 0.5fr repeat(2, 1fr) 1fr;
}
aside ul{
    text-align: left;
}
 aside{
    grid-row: 1/5;
    grid-column: 1/2;
 }
 header{
    grid-row: 1/2;
    grid-column: 2/6;
 }
 main{
    grid-row: 2/4;
    grid-column: 2/6;
 }
 footer{
    grid-row: 4/5;
    grid-column: 2/6;
 }
 .dark-background-color{
    background-color: #121212;
}
.dark-aside-color{
    background-color: #404040;
}
.light-text-color{
    color: #B3B3B3;
}
.btn-dark-background-color{
    background-color: #02393d;
}
.darktheme-background-color{
    background-color: #312244;
}
.cancel-background-color{
    background-color: #470024;
}

@media screen and (min-width: 600px) {
   

    body{
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 0.5fr repeat(2, 1fr) 1fr;
    }
    aside ul{
        text-align: left;
    }
     aside{
        grid-row: 1/5;
        grid-column: 1/2;
     }
     header{
        grid-row: 1/2;
        grid-column: 2/6;
     }
     main{
        grid-row: 2/4;
        grid-column: 2/6;
     }
     footer{
        grid-row: 4/5;
        grid-column: 2/6;
     }
}
    
